.h-90 {
    height: 90%;
}

.w-10 {
    width: 10%;
}

.footer {
    background-color: #e3f2fd;
    bottom: 0px;
    position: relative;
}

.footer > .container {
    justify-content: center;
}

.footer > .container > a {
    margin-left: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.border-5 {
    border-width: 5px!important;
}

.border-top-10 {
    border-top-width: 30px!important;
}

.section_title {
    width: 100%;
    margin-top: -27px;
    color: white;
    font-weight: bold;
}

.category {
    background-color: #d9d9d9;
    border: 1px solid black;
    border-bottom: none;
}

.small-grey-text {
    font-size: 12px;
    color: #4C5D77;
    font-style: italic;
    margin: 0;
    padding: 0;
}